
.menu-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-contents {
  max-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 90px;
  align-items: center;
  margin-top: 60px;
  
}

.menu-btn {
  width: 100%;
  height: 120px;
}

ion-menu {
  --min-width: 100%;
}
